$gray: #f4f4f4;
$gray-dark: #e3e3e3;
$gray-darkest: #cccccc;
$gray-slate: #c4c4c4;
$gray-smoke: #888888;
$black: #222222;

$primary-blue: #3e65f0;
$primary-grapefruit: #f0b5b5;
$primary-green: #6cbf1b;